@-moz-document url-prefix() {
  section.articles .wrapper div.article {
    color: blue; }
    section.articles .wrapper div.article .img:after {
      content: "";
      width: 90%;
      position: absolute;
      left: 4%;
      height: 92%;
      top: 4%; } }
@media (max-width: 1912px) {
  section.our-clients div.slider-third div.owl-nav.disabled div.owl-prev, section.our-clients div.slider-third div.owl-nav.disabled div.owl-next {
    position: initial;
    background-color: #eee;
    opacity: 0.7; }
  section.our-clients div.slider-third div.owl-stage-outer {
    min-height: auto; }
  section.our-clients div.slider-third div.owl-stage-outer div.owl-item .img:after {
    width: 93%;
    height: 93%; } }
@media (max-width: 1785px) {
  header.header .tel.col-lg-2 {
    padding-left: 25px;
    font-size: 12px;
    letter-spacing: 1px;
    padding-right: 25px; }
  header.header .tel.col-lg-2 span {
    display: block; }
  header.header .delivery.col-lg-2 {
    padding-left: 5px;
    padding-right: 5px; } }
@media (max-width: 1682px) {
  section.quality div.info-quality {
    padding-left: 110px; }
  section.quality div.photo-quality {
    overflow: hidden; }
  section.quality div.photo-quality:before {
    height: 89%; } }
@media (max-width: 1400px) {
  .reviews .grey .wrapper div.owl-stage div.item {
    padding-left: 30px; }
  .reviews .grey .wrapper div.owl-stage div.item header.header {
    padding-right: 40px !important; }
  section.prime div.slider div.owl-carousel-first:before {
    left: 20px; } }
@media (max-width: 1366px) {
  main.container-fluid, header.header, footer.footer {
    padding-left: 40px;
    padding-right: 40px !important; }
  section.prime div.slider div.owl-carousel-first .owl-item .text {
    padding-top: 80px;
    padding-left: 75px; }
  section.prime div.slider div.owl-carousel-first .owl-item .text a {
    margin-top: 30px; }
  section.prime div.slider div.owl-carousel-first .owl-item .text h1 {
    font-size: 50px; } }
@media (max-width: 1262px) {
  section.reviews .owl-carousel-fourth .owl-dots {
    bottom: 20px;
    left: 42%; } }
@media (max-width: 1200px) {
  main.container-fluid, header.header, footer.footer {
    padding-left: 20px;
    padding-right: 20px !important; }
  section.how-buy .col-lg-6.col-md-6.information {
    padding-left: 65px;
    padding-top: 70px;
    padding-right: 7px; }
  section.how-buy .col-lg-6.col-md-6.information p {
    margin-bottom: 25px; }
  section.prime div.slider div.owl-carousel-first:before {
    display: none; }
  section.prime ul.menu li a {
    padding: 15px 15px;
    font-size: 13px; }
  section.quality .info-quality.col-lg-6 {
    padding-left: 45px;
    padding-right: 20px; } }
@media (max-width: 1086px) {
  section.prime div.slider div.owl-carousel-first .owl-item .text {
    padding-left: 25px; } }
@media (max-width: 1029px) {
  .wrapper a.col-lg-6.col-md-6.col-sm-6.col-xs-6.col-12.new .post-info {
    margin-left: 20px; } }
@media (max-width: 929px) {
  .wrapper a.col-lg-6.col-md-6.col-sm-6.col-xs-6.col-12.new img, .wrapper a.col-lg-6.col-md-6.col-sm-6.col-xs-6.col-12.new .post-info {
    float: none;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px; }
  .wrapper a.col-lg-6.col-md-6.col-sm-6.col-xs-6.col-12.new img .name-new, .wrapper a.col-lg-6.col-md-6.col-sm-6.col-xs-6.col-12.new .post-info .name-new {
    margin: 0 auto; } }
@media (max-width: 992px) {
  header.header div.navigation div.lightbox ul li {
    margin-bottom: 10px; }
  header.header div.navigation div.lightbox ul .none-prime {
    display: block; }
  section.prime .menu .none {
    display: none; } }
@media (max-width: 991px) {
  section.how-buy .col-lg-6.col-md-6.information {
    padding-left: 75px;
    padding-top: 95px; }
  section.how-buy .col-lg-6.col-md-6.information p {
    max-width: 90%;
    padding-right: 45px;
    margin-bottom: 45px; }
  section.how-buy .col-lg-6.photo img {
    width: 100%; }
  section.how-buy .col-lg-6.photo .buy {
    right: 33%;
    top: 5%; } }
@media (max-width: 999px) {
  section.soc-icons-copyright .copyright {
    padding-right: 10px;
    padding-left: 10px; }
  section.how-buy .photo.col-lg-6 {
    height: auto; }
  section.our-clients div.slider-third div.owl-carousel.custom2 div.owl-nav {
    overflow: hidden; }
  section.our-clients div.slider-third div.owl-carousel.custom2 div.owl-nav div.owl-prev {
    float: left; }
  section.our-clients div.slider-third div.owl-carousel.custom2 div.owl-nav div.owl-next {
    float: right; } }
@media (max-width: 767px) {
  header.header div.navigation .lightbox ul .none-third {
    display: block; }
  section.prime div.slider div.owl-carousel-first .owl-item .text {
    padding-top: 15px; }
  section.prime div.slider div.owl-carousel-first .owl-item .text span:after {
    display: none; }
  section.prime div.slider div.owl-carousel-first .owl-item .text h1 {
    line-height: 36px;
    margin-bottom: 9px;
    font-size: 35px; }
  section.prime div.slider div.owl-carousel-first .owl-item .text a {
    margin-top: 10px; }
  header.header .delivery, header.header .tel {
    display: none; }
  header.header .col-6 {
    max-width: 40%;
    width: 100%; }
  header.header .col-3 {
    width: 100%;
    max-width: 30%; }
  .prime ul .second-none {
    display: none; } }
@media (max-width: 755px) {
  section.sorts .wrapper {
    padding-left: 20px;
    padding-right: 20px; }
  section.sorts .wrapper .sort.col-lg-6.col-md-6.col-sm-6.col-xs-6.col-12 {
    width: 100%;
    padding: 0; } }
@media (max-width: 605px) {
  section.prime ul.menu {
    display: none; }
  header.header div.navigation .lightbox ul .none-fourth {
    display: block; } }
@media (max-width: 590px) {
  section.reviews .title .bord .dia {
    left: 15%; }
  section.reviews .owl-carousel-fourth .owl-dots {
    bottom: 34px;
    left: 37%; }
  section.reviews .owl-carousel-fourth .owl-dots div.owl-dot {
    margin-right: 15px !important; }
  section.reviews .wrapper.owl-carousel-fourth.animated .item > a {
    display: block;
    width: 123px;
    letter-spacing: 1px;
    float: none;
    margin: 0 auto; }
  section.reviews .wrapper.owl-carousel-fourth.animated .item .hov-efect {
    padding-left: 10px;
    height: 91px;
    width: 250px;
    margin-bottom: 23px; }
  section.reviews .wrapper.owl-carousel-fourth.animated .item .hov-efect:after {
    left: 0;
    top: 10px; }
  section.how-buy .col-lg-6.col-md-6.information {
    padding-left: 10px; }
  section.how-buy .col-lg-6.col-md-6.information p {
    padding-left: 40px;
    padding-right: 5px; }
  header.header .logo span {
    display: none; }
  section.how-buy .col-lg-6.photo div.buy {
    right: 10%;
    top: 10px;
    width: auto; }
  section.prime div.slider div.owl-carousel-first div.owl-item img {
    height: 333px; }
  section.prime div.slider div.owl-carousel-first div.owl-item .text h1, section.prime div.slider div.owl-carousel-first div.owl-item .text a {
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
  section.prime div.slider div.owl-carousel-first div.owl-item .text span {
    display: none; } }
@media (max-width: 412px) {
  section.quality div.info-quality h2 {
    font-size: 55px; }
  header.header .navigation.col-3 {
    max-width: 20%; }
  header.header .basket.col-3 {
    max-width: 39%; }
  header.header .logo.col-6 a img {
    width: 100%; }
  section.how-buy div.col-lg-6.photo div.buy {
    display: none; } }
@media (max-width: 425px) {
  section.articles .wrapper .col-12, section.news .wrapper .col-12 {
    width: 100%; } }
